<h1>Carro</h1>

<p>
  <!-- /shipping perque en el path del routing el tenim aixina l'enllaç -->
  <a routerLink="/shipping"> Gastos de envío </a>
</p>

<div class="cart-item" *ngFor= "let item of items">
  <span>{{item.name}}</span>
  <!--currency: Transforma un número en una cadena de moneda (pipe) -->
  <span>{{item.price | currency }}</span>
</div>
<!--formGroup enlazar checkoutForm a la etiqueta form --> 
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
<div>
  <label>Nombre:</label>
  <input type="text" formControlName="name">
</div>
<div>
  <label>Dirección:</label>
  <input type="text" formControlName="address">
</div>

<button class="button" type="submit" >Comprar </button>
</form>